
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #b8aaaa;
  color: #fff;
}

.numbers {
  display: flex;
 flex-direction: row;
 

}

.numbers>a {
  margin: 10px;
  font-size: 14px;
}

.language>select {
  padding: 5px;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: none;
}

.language select option {
  color: #000;
  background-color: #fff;
}
