
.top__ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: rgb(247, 247, 247);
  color: rgb(73,73,73);
}

.numbers {
  display: flex;
 flex-direction: row;
 

}

.numbers>a {
  margin: 0px 15px 0px 0px;
  font-size: 17px;
  color: rgb(26, 102, 255);
}
.language{
  margin-right: 7%;
}

.language>select {
 
  font-size: 14px;
  color: rgb(73,73,73);
 background-color:rgb(247, 247, 247);
  border: none;
}

.language>select>option {
  color: #000;
  background-color: #fff;
}

@media screen and (max-width: 920px) {
  .header{
   background-color: black;
  }
  
}

header{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header>image {
  width: 94px;
  height: 94px;
  background-image: url(/public/download.png);
  display: flex;
  background-repeat: no-repeat;
  background-size:contain;
  text-align: center;
  border:none;
  margin-left: 7%;
  }

  header>ul{
    margin-right: 5%;
    align-items: center;
    padding: 15px;
   font-family: Arial, Helvetica, sans-serif;
   

  }
header>ul>a{
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
header>ul>select{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
}

.Menu__{
   
    background: #0d47a1;
    box-shadow: 0 1px rgba(0,0,0,.04), inset 0  
     -1px  rgba(0,0,0,.04);
    color: #3d464d;
    height: 54px;
    width: 100%;
    border: none;
    
    display: flex;
    justify-content: space-between;

}
.icon{
  cursor: pointer;
  border: none;
  background-size: contain;
  height: 30px;
  width: 30px;
  background-image: url(/public/Menu_Icon.png);
  margin-top: 11.5px;
  

}
.product{
  color: white;
  font-size: 20px;
  border: none;
  background-color:#0d47a1;


}
.left__side__product{
  display: flex;
  padding-left: 7% ;
  
 
}

.liked__shop>button{
  margin-right: 5px;
  margin-top: 11.5px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: none;
  
 
}
.liked__shop{
  display: flex;
  margin-right: 4%;
  
}
.indicator{
  margin-left: 10px;
  
  height: 15px;
  font-size: 10px;
  padding: 0 5px;
  border-radius: 1000px;
  position: relative;
  top: -11px;
  background: #5f87a1;
  font-weight: 700;
}